

/* body{
    background-color: seagreen;
} */



#container{


    position: relative;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    

}

#hour, #minute , #second{
    position: absolute;
    /* background-color: black; */
    border-radius: 5px;
    transform-origin: bottom;
    
}

#hour{
    width: 1.6%;
    height: 26%;
    background-color: rgb(163, 10, 10);
    top: 24%;
    left: 49.1%;
   
}
#minute{
    width: 1%;
    height: 30%;
    background-color: rgb(68, 10, 10);
    top: 20%;
    left: 49.34%;
    
    
}
#second{
    width: 0.6%;
    height: 37%;
    background-color: rgb(151, 104, 104);
    top: 13%;
    left: 49.55%;

   
    
}